<!-- extends layout

block content
h1= message
h2= error.status
pre #{error.stack} -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='scripts/jquery.js' type='text/javascript'></script>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  </link>
</head>

<body>
  <h1>message</h1>
  <h2>error.status</h2>
  <pre>
      <%= error.stack%>
  </pre>



</body>

</html>