<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>

  <script src="../routes/front_end/home_client.js"></script>
</head>

<body>
  <h1><%= subtitle%></h1>
  <table style="border:3px #06979E solid;" cellpadding="10">
    <tr>
      <td>
        範例1 :
      </td>
      <td>
        <a href="http://localhost:3000/getSuperheroes"> 介接網路資源</a>
      </td>
    </tr>
    <tr>
      <td>
        範例2 :
      </td>
      <td>
        <a href="http://localhost:3000/getMemberAddress"> 讀取本地JSON</a>
      </td>
    </tr>
    <tr>
      <td>
        範例3 :
      </td>
      <td>
        <a href="http://localhost:3000/getAllNormalMember"> 取得資料庫所有一般會員</a>
      </td>
    </tr>
    <tr>
      <td>
        範例4 :
      </td>
      <td>
        <a href="http://localhost:3000/getAllVIPMember"> 取得資料庫所有高級會員</a>
      </td>
    </tr>
    <tr>
      <td>
        範例5 :
      </td>
      <td>
        <p>新增一般會員</p>
        名稱:<input type="text" id="normalName"></br>
        地址:<input type="text" id="normalAddress"></br>
        <button type="button" id="normalBuild">建立</button>
      </td>
    </tr>
    <tr>
      <td>
        範例6 :
      </td>
      <td>
        <p>新增高級會員</p>
        名稱:<input type="text" id="vipName"></br>
        地址:<input type="text" id="vipAddress"></br>
        <button type="button" id="vipBuild" onclick="onBuildMVPClickListener()">建立</button>
      </td>
    </tr>
  </table>
</body>
</html>