<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>
</head>

<body>
  <h1><%= subtitle%></h1>
  <table style="border:3px #06979E solid;" cellpadding="10">
    <tr>
      <td>
        範例1 : <a href="http://localhost:3000/getSuperheroes"> 介接網路資源</a>
      </td>
    </tr>
    <tr>
      <td>
        範例2 : <a href="http://localhost:3000/getMemberAddress"> 讀取本地JSON</a>
      </td>
    </tr>
  </table>
</body>

</html>